*{
	box-sizing: border-box;
}
h1{
	text-align: center;
	font-size: 28px;
	padding: 15px;
}
h1, div{
	font-family: "Arial Black";
}
section{
	position: relative;
	background-color: #dfdfe1;
	color: black;
	width: 31%;
	border: 1px solid black;
	display: flex;
	float: left;
	margin: 10px;
}
div{
	position: absolute;
	top: 0px;
	right: 0px;
	width:100px;
	text-align: center;
	font-size: 18px;
	border: 1px solid black;
	padding: 0px 5px;
}
#p1_name{
	background-color: #f4c1c0;
}
#p2_name{
	background-color: #c08189;
}
#p3_name{
	background-color: #6f3857;
}
p{
	font-family: arial;
	font-size: 16px;
	margin-top: 33px;
	padding:0px 10px; 
}
@media (min-width: 992px) {
	.section, .section3{
		width:31%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.section{
		width: 47%;
	}
	.section3{
		width: 96%;
	}
}
@media (max-width: 767px) {
	.section, .section3{
		width: 96%;
	}
}