@use 'base';

main,
.signin-form,
#signin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-form {
  background-color: #725a7a;
  border-radius: 40px;
  padding: 50px 0px;
  flex-direction: column;
  width: 80%;

  &__title {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 0.8rem;

    &:focus {
      outline: 2.5px solid #46485c;
    }
  }

  &__error {
    color: #d7415e;
  }

  &__more-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: inline-block;
    font-size: 0.6rem;
    text-decoration: none;
    color: #9da6b8;
    cursor: pointer;

    &--signup {
      color: inherit;
    }
  }

  &__btn {
    padding: 10px 30px;
    margin: 20px auto 0px;
    border: none;
    border-radius: 10px;
    display: block;
    font-family: inherit;
    background-color: #46485c;
    color: inherit;
    cursor: pointer;

    &:hover {
      background-color: #3d3f52;
      transform: scaleX(1.1);
    }
  }
}
#signin {
  width: 35%;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 320px) and (max-width: 768px) {
  #signin,
  .signin-form__more-info {
    width: 45vw;
  }
}
